# Set up locally by running
#
# $ pre-commit install
#
# See https://pre-commit.com/
default_language_version:
  python: python3.8

repos:
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.3
  hooks:
  - id: flake8
- repo: https://github.com/timothycrosley/isort
  rev: 5.5.2
  hooks:
    - id: isort
- repo: https://github.com/ambv/black
  rev: stable
  hooks:
    - id: black
- repo: https://github.com/mgedmin/check-manifest
  rev: "0.43"
  hooks:
    - id: check-manifest
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: "v0.782"
  hooks:
    - id: mypy
