recursive-include examples *.py
recursive-include tests *.py
recursive-include tools *.py

recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.json
include docs/.nojekyll
include docs/Makefile
include docs/make.bat

include lib/metricq-protobuf/*.proto
include lib/metricq-protobuf/LICENSE
include lib/metricq-protobuf/README.md
include metricq/*_pb2.py
include metricq/*_pb2.pyi
include metricq/_protobuf_version.py
include metricq/py.typed

include pyproject.toml
include *.md
include Dockerfile
include .version

exclude .git-blame-ignore-revs
exclude .gitmodules
exclude .pre-commit-config.yaml
exclude .github_changelog_generator
